
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 147rem;
}.landing-page-1-mobile-app-DuU {
  background-color: #ffffff;
  width: 100%;
  height: 247.7rem;
  position: relative;
  overflow: hidden;

  .landing-page-1-mobile-app-background-mask-E3t {
    height: 251.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 136.6rem;
  }
  .auto-group-6qw6-7dU {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 136.6rem;
    height: 251.5rem;
  }
  .footer-3X8 {
    width: 147rem;
    overflow: hidden;
    align-items: center;
    background-image: url('REPLACE_IMAGE:HKt4W2KYp4fgqsdaHNAd7x');
    display: flex;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 178.7rem;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 18.559rem 37.5rem 12.2rem 0rem;
    height: 69rem;
    left: 0;

    .image-3-pJv {
      flex-shrink: 0;
      margin: 18.441rem 7.3rem 0rem 0rem;
      width: 49.8rem;
      height: 19.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .about-u5U {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 18.1rem 15.041rem 0rem;
      overflow: hidden;
      position: relative;
      display: flex;

      .about-Qnv {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .contact-us-privacy--JtJ {
        font-weight: 400;
        line-height: 2.4;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 18.4rem;
        font-size: 2rem;
      }
    }
    .sosmed-23c {
      flex-shrink: 0;
      margin-bottom: 19.8405rem;
      width: 15.9rem;
      overflow: hidden;
      position: relative;

      .stay-connected-ZpE {
        white-space: nowrap;
        margin: 0rem 0rem 1.5rem 0.2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-qapc-GyY {
        margin-right: 0.8rem;
        width: calc(100% - 0.8rem);
        height: 14.4rem;
        display: flex;
        align-items: center;

        .auto-group-jwxk-ngz {
          margin: 1.1rem 2.6rem 0.972rem 0rem;
          height: calc(100% - 2.072rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ico-facebook-Upi {
            flex-shrink: 0;
            margin-bottom: 2.367rem;
            width: 2.6rem;
            height: 2.533rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ico-twitter-D1c {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2.362rem;
            width: 3rem;
            height: 2.338rem;
            object-fit: contain;
          }
          .ico-instagram-Z5U {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.8rem;
            height: 2.728rem;
            position: relative;
          }
        }
        .facebook-twtiter-ins-fuC {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 9.5rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.4;
        }
      }
    }
  }
  .create-your-store-KTx {
    box-shadow: 0 0.8rem 2.3rem rgba(0, 0, 0, 0.200000003);
    background-color: #f5f7fa;
    box-sizing: border-box;
    padding: 9.6rem 2.2rem 5.7rem 4.4rem;
    height: 72.2rem;
    position: absolute;
    left: 10.1rem;
    top: 99rem;
    width: 126.9rem;
    overflow: hidden;
    border-radius: 5.6rem;

    .auto-group-hfja-chx {
      display: flex;
      align-items: center;
      margin: 0rem 33.6rem 5rem 0rem;
      width: calc(100% - 33.6rem);
      height: 4rem;

      .test-with-your-own-text-YLi {
        flex-shrink: 0;
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 0.8888888889;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wzls-4Zx {
        box-sizing: border-box;
        padding-left: 9.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .line-1-cbU {
          height: 0.2rem;
          background-color: #8e8686;
          flex-shrink: 0;
          margin: 0rem 4.397rem 0.6rem 0rem;
          width: 0.5027rem;
        }
        .prediction-wNr {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4.5rem;
          font-weight: 500;
          line-height: 0.8888888889;
          color: #000000;
        }
      }
    }
    .auto-group-x7vr-GAE {
      margin-bottom: 2rem;
      width: 100%;
      height: 38.3rem;
      display: flex;
      align-items: center;

      .auto-group-4fbg-QnE {
        width: 55.5rem;
        font-size: 2.4rem;
        color: #9e9e9e;
        font-family: Inter, 'Source Sans Pro';
        background-color: #ffffff;
        border-radius: 2.3rem;
        box-sizing: border-box;
        padding: 4.9rem 3.4rem;
        margin-right: 9.3rem;
        white-space: nowrap;
        font-weight: 400;
        flex-shrink: 0;
        height: 100%;
        line-height: 1.2125;
      }
      .auto-group-b2y2-gjk {
        color: #9e9e9e;
        white-space: nowrap;
        border-radius: 2.3rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        font-size: 2.4rem;
        line-height: 1.2125;
        background-color: #ffffff;
        padding: 4.9rem 3.4rem;
        width: 55.5rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .cta-button-nGz {
      margin-right: 95.1rem;
      overflow: hidden;
      position: relative;

      .auto-group-yuhk-6oU {
        width: 25.2rem;
        height: 7.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .cover-area-BK8 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 148.2rem;
    height: 79.4rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: url('REPLACE_IMAGE:0:641');

    .background-blue-Vai {
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 149.8rem;
      height: 76.9rem;
      position: absolute;
    }
    .button-component-EoC {
      width: 13.2261rem;
      height: 4rem;
      position: absolute;
      left: 126.5787rem;
      top: 2.9011rem;
      overflow: hidden;

      .rectangle-167-ZqU {
        left: 0.0261rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        border-radius: 5rem;
        width: 13.2rem;
        height: 4rem;
        position: absolute;
      }
      .group-126-6aW {
        position: absolute;
        left: 0;
        top: 0.4rem;
        overflow: hidden;
        width: 12.4rem;
        height: 2.6rem;

        .auto-group-muvx-r3t {
          object-fit: contain;
          vertical-align: top;
          width: 12.4rem;
          height: 2.6rem;
          position: relative;
        }
      }
    }
    .group-176-yeJ {
      width: 112.6rem;
      height: 56rem;
      top: 15.5rem;
      flex-direction: column;
      overflow: hidden;
      row-gap: 2.6rem;
      display: flex;
      box-sizing: border-box;
      padding: 2.5rem 0rem 14.4rem 0rem;
      position: absolute;
      left: 15.3512rem;

      .cover-text-GtJ {
        line-height: 1.125;
        letter-spacing: -0.0832rem;
        color: #ffffff;
        font-family: Manrope, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 59.1rem;
        font-size: 6.4rem;
        font-weight: 600;
      }
      .cover-sub-text-15C {
        font-size: 2.4rem;
        color: #ffffff;
        flex-shrink: 0;
        line-height: 1.3333333333;
        letter-spacing: 0.036rem;
        font-family: Manrope, 'Source Sans Pro';
        max-width: 47.7rem;
        display: flex;
        font-weight: 600;
      }
      .cta-button-XJS {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-right: 91.1rem;

        .auto-group-y3ox-gSE {
          vertical-align: top;
          width: 21.5rem;
          height: 5.9rem;
          position: relative;
          object-fit: contain;
        }
      }
    }
    .cover-image-shadow-BNz {
      object-fit: contain;
      vertical-align: top;
      width: 49.6016rem;
      height: 7.8029rem;
      position: absolute;
      left: 84.8406rem;
      top: 59.8221rem;
    }
    .background-design-element-circles-7nS {
      height: 9.5035rem;
      position: absolute;
      left: 81.5136rem;
      top: 12.5046rem;
      display: flex;
      align-items: center;
      width: 14.1143rem;

      .background-design-element-circles-qiS {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.0082rem;
        width: 6.5531rem;

        .auto-group-hcya-xHG {
          margin-bottom: 1.0004rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-241-HqL {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-242-d8W {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-243-aZY {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-244-vdQ {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-245-t4S {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
        }
        .auto-group-h4f4-zdG {
          margin-bottom: 1.0003rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-246-jqk {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-247-UoL {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-248-cuY {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-249-xTc {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-250-J1g {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-dk26-qnJ {
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.0004rem;

          .ellipse-251-nSe {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-252-uXG {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-253-TYn {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-254-1aJ {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-255-Yq8 {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-vqjs-W1G {
          margin-bottom: 1.0004rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-256-edG {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-257-NJN {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-258-JC2 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-259-TKp {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-260-pAN {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
        }
        .auto-group-clfc-xnN {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.0003rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;

          .ellipse-261-V1c {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-262-EE6 {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-263-Bf8 {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-264-Lnv {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-265-sXx {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
        }
        .auto-group-js3l-dGE {
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.0004rem;
          width: 100%;
          display: flex;

          .ellipse-266-MT8 {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-267-uzS {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-268-2ZG {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-269-aan {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-270-wRL {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-gymg-sZt {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;

          .ellipse-271-RbQ {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-272-PHL {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-273-LTU {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-274-gGS {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-275-36z {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .background-design-element-circles-PAr {
        width: 6.5531rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-zqmc-u9C {
          column-gap: 1.0082rem;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 0.8003rem;
          width: 100%;
          display: flex;

          .ellipse-241-Sev {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-242-xtA {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-243-isL {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-244-skE {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-245-R14 {
            margin-top: 0.2001rem;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-dkrt-kp2 {
          margin-bottom: 1.0003rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-246-W2W {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-247-fAJ {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-248-BPY {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-249-jfx {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-250-UdY {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-pbuc-EMp {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.0004rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;

          .ellipse-251-ZQ6 {
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
          }
          .ellipse-252-X62 {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-253-5dL {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-254-STt {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-255-kzN {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-ih1l-huc {
          margin-bottom: 1.0004rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-256-FRL {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-257-NF4 {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-258-uEz {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-259-pMx {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-260-M6z {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-ymsj-gQA {
          margin-bottom: 1.0003rem;
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-261-Dez {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-262-aEe {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
          }
          .ellipse-263-XQn {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-264-rT4 {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-265-Cmp {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-6ses-Mei {
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.0004rem;

          .ellipse-266-hyU {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-267-RuU {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-268-anN {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-269-XBp {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-270-5j8 {
            flex-shrink: 0;
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-anmq-pRp {
          width: 100%;
          display: flex;
          column-gap: 1.0082rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-271-aA6 {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-272-KtN {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-273-VH4 {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-274-pKL {
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.5041rem;
          }
          .ellipse-275-B9t {
            width: 0.5041rem;
            height: 0.5002rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .design-element-circle-vdG {
      top: 59.4rem;
      box-shadow: 0 0 9.9rem rgba(0, 0, 0, 0.1599999964);
      background-color: #ee6c4d;
      border-radius: 2.8rem;
      width: 5.6rem;
      height: 5.6rem;
      position: absolute;
      left: 106.6512rem;
    }
    .frame-Ra2 {
      top: 10.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 54.4001rem;
      height: 54.2rem;
      position: absolute;
      left: 82.251rem;
    }
    .topnav-9W2 {
      width: 49.6rem;
      height: 2.3rem;
      position: absolute;
      left: 48.9012rem;
      top: 4.5rem;
      overflow: hidden;

      .menu-gkr {
        display: flex;
        align-items: center;
        padding-right: 19.1rem;
        height: 1.9rem;
        position: absolute;
        top: 0;
        overflow: hidden;
        box-sizing: border-box;
        width: 49.6rem;
        left: 0;

        .home-ZZk {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.4rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
        }
        .contact-JGS {
          margin-top: 0.4rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .faq-qnA {
        font-weight: 400;
        line-height: 1.2125;
        width: 2.9rem;
        height: 1.9rem;
        position: absolute;
        left: 36.7rem;
        white-space: nowrap;
        top: 0.4rem;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .services-MkW {
        height: 1.9rem;
        position: absolute;
        left: 11.9rem;
        font-weight: 700;
        white-space: nowrap;
        width: 6.5rem;
        font-size: 1.5rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        top: 0.4rem;
      }
    }
  }
  .bring-more-systems-i-q9t {
    width: 105.2rem;
    height: 4rem;
    left: 21rem;
    text-align: center;
    font-weight: 700;
    line-height: 0.8888888889;
    color: #203a96;
    white-space: nowrap;
    position: absolute;
    top: 85.4rem;
    font-size: 4.5rem;
    font-family: Inter, 'Source Sans Pro';
  }
}
